/* Font Family */
$font-proximanova: "ProximaNova";
$icons-marriotticon: "MarriottIcons";
$base-font-family: $font-proximanova, "Calibri", Arial, "Helvetica", Helvetica, sans-serif;

/* Colors */ 
$white: #fff;
$black: #1c1c1c;
$blue: #0079d4;
$extra-light-grey: #f4f4f4;
$background-color-navitem-hover: rgba(28, 28, 28, 0.25);

/******************************************************************/
html {
    font-size: 16px;
}

@font-face {
    font-family: $font-proximanova;
    src: url("fonts/proxima-nova-all/proxima-nova-regular-webfont.eot");
    src: url("fonts/proxima-nova-all/proxima-nova-regular-webfont.eot?#iefix") format('embedded-opentype'), url("fonts/proxima-nova-all/proxima-nova-regular-webfont.woff") format('woff'), url("fonts/proxima-nova-all/proxima-nova-regular-webfont.ttf") format('truetype'), url("fonts/proxima-nova-all/proxima-nova-regular-webfont.svg") format('svg');
}

@font-face {
    font-family: $icons-marriotticon;
    src: url("fonts/proxima-nova-all/marriott-icons.eot");
    src: url("fonts/proxima-nova-all/marriott-icons.eot?#iefix") format('embedded-opentype'), url("fonts/proxima-nova-all/marriott-icons.woff") format('woff'), url("fonts/proxima-nova-all/marriott-icons.ttf") format('truetype'), url("fonts/proxima-nova-all/marriott-icons.svg") format('svg');
}

body {
    background-color: $white;
    color: $black;
    font-family: $base-font-family;
}

.m-navigation {
    a {
        display: block;
        font-size: 1rem;
        font-weight: normal;
        color: $black;
        text-decoration: none;
    }

    ul {
        list-style: none;
        padding: 0;

        .m-navigation-open {
            display: inline-block;
        }

        .m-navigation-close {
            display: none;
        }
    }

    li {
        display: inline-table;
        padding: 1.5rem 0;
        text-align: center;
        text-decoration: none;

        a {
            display: block;
            transition: all 0.25s ease-in-out;
        }
    }

    .button {
        outline: none;
    }
}

.m-navigation-blue {
    background-color: $blue;

    a {
        font-size: 1.25rem;
        font-weight: bold;
        color: $white;
    }

    ul {
        display: inline-block;

        .active {
            background-color: $background-color-navitem-hover;
            background-position: bottom center;
        }
    }

    li {
        width: 9.25rem;
        transition: all 0.25s ease-in-out;

        &:hover {
            background-color: $background-color-navitem-hover;
            background-position: bottom center;
        }
    }

    .m-navigation-blue-selected {
        color: $white;
        display: block;
        text-align: center;

        li {
            color: $white;

            &:hover {
                background-color: $blue;
                cursor: pointer;
            }
        }

        .t-icon-dropdown {
            font-size: 1rem;
        }
    }

    .m-navigation-blue-active {
        display: block;
        text-align: center;

        li {
            display: block;
            font-size: 1.25rem;
            width: 100%;
        }
    }
}


.m-navigation-grey {
    background-color: $extra-light-grey;

    ul {
        padding: 0;
        width: initial;

        li {
            display: inline-table;
            text-align: center;
            padding: 0 1.25rem;

            &:hover, &.highlighted {
                a{
                    border-bottom-color: inherit;
                    outline: none;
                }
            }
        }

        a {
            padding: 1.5rem 0;
            border-bottom: 0.3125rem solid transparent;
        }

        .active {
            border-bottom-color: inherit;
        }
    }

    .m-navigation-grey-dropdown {
        background-color: $extra-light-grey;
        right: 0;
        position: absolute;
        display: block;
        top: 4.465rem;

        li {
            margin: 0 1.25rem;
            padding: 0 1.25rem;
            display: table;
        }

        a {
            padding: 1.5rem 0;
        }

        &.drop-down-close{
            top: -999px;
        }
    }

     .m-navigation-control {
        float: right;   
        padding: 1.5rem 1.25rem;
    }
}

/* Icons */

[class*="t-icon-"]::before {
    font-family: MarriottIcons;
    display: inline-block;
}

.t-icon-navigation-close::before {
    content: "\e021";
    transform: rotate(45deg);
}

.t-icon-arrow-down::before {
    content: "\e023";
    transform: rotate(90deg);
}